<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Assembly test development application</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.openshift.OpenShiftApplicationUUIDJobProperty plugin="openshift@1.4">
      <applicationUUID>541227c1e0b8cd9fc80000f0</applicationUUID>
    </hudson.plugins.openshift.OpenShiftApplicationUUIDJobProperty>
    <hudson.plugins.openshift.OpenShiftBuilderSizeJobProperty plugin="openshift@1.4">
      <builderSize>small</builderSize>
    </hudson.plugins.openshift.OpenShiftBuilderSizeJobProperty>
    <hudson.plugins.openshift.OpenShiftBuilderTimeoutJobProperty plugin="openshift@1.4">
      <builderTimeout>300000</builderTimeout>
    </hudson.plugins.openshift.OpenShiftBuilderTimeoutJobProperty>
    <hudson.plugins.openshift.OpenShiftBuilderTypeJobProperty plugin="openshift@1.4">
      <builderType>redhat-diy-0.1</builderType>
    </hudson.plugins.openshift.OpenShiftBuilderTypeJobProperty>
    <hudson.plugins.openshift.OpenShiftPlatformJobProperty plugin="openshift@1.4">
      <platform>linux</platform>
    </hudson.plugins.openshift.OpenShiftPlatformJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>openshiftci_test_eaphelloworld_assembly</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$OPENSHIFT_REPO_DIR</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>source $OPENSHIFT_CARTRIDGE_SDK_BASH

alias rsync=&quot;rsync --delete-after -azS -e &apos;$GIT_SSH&apos;&quot;

upstream_ssh=&quot;541227c1e0b8cd9fc80000f0@openshiftci-${OPENSHIFT_NAMESPACE}.rhcloud.com&quot;

# Execute Soap UI test
$GIT_SSH $upstream_ssh &quot;app-root/runtime/repo/misc/SoapUI-5.0.0/bin/testrunner.sh app-root/runtime/repo/ci_test/REST-eaphelloworld-soapui-project.xml -j -f app-root/runtime/repo/ci_test&quot;

rsync $upstream_ssh:&apos;app-root/runtime/repo/ci_test/TEST*.xml&apos; ci_test/
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>ci_test/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>